.category_box {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}

.category_page {
  max-width: 80%;
  margin: 0 auto;
}

.category_page h1 {
  text-align: center;
  margin-bottom: 50px;
}
.category_item {
  display: flex;
  flex-direction: column;
  border: 1px solid;
}

.category_item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.category_desc {
  border: none;
  border-radius: 0;
}

.category_desc * {
  margin: 0;
}

.category_desc a {
  padding: 10px;
  border-radius: 5px;
  background-color: #7ed6df;
  margin-top: 10px;
  display: inline-block;
}
